/**
 *
 * Custom properties
 *
 */

@media (max-width: 35rem) {
}

@media (min-width: 45rem) {
}

@media (min-width: 45rem) {
}

:root {
  /* colors */

  /* HSL color allows you to set opacity at the end */

  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  /* default base font size = 16px */

  /* viewport unit does not count for zoom so has to add 1 rem */

  --fs-900: clamp(5rem, 7vw + 1rem, 9.375rem); /* min, growth value, max*/
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

  --s-1600: 128px;
  --s-1200: 96px;
  --s-1000: 80px;
  --s-800: 64px;
  --s-600: 48px;
  --s-500: 40px;
  --s-400: 32px;
  --s-300: 24px;
  --s-200: 16px;
  --s-150: 12px;
  --s-100: 8px;
  --s-50: 4px;
  --s-25: 2px;
}

@media (max-width: 375px) {
  :root {
  }
}

@media (max-width: 1024px) and (min-width: 376px) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem; /* body text */
  }
}

@media (min-width: 1025px) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

/**
   *
   * Reset
   * https://piccalil.li/blog/a-more-modern-css-reset/
   */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
/* to not run into collapsing margin */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up body */

body {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  line-height: 1.5;
  /* default for browsing is 1.4 */

  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));

  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;

  overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
  /* usually font does not inherit in these form elements */
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*=============================================
  =            Utility classes             =
  =============================================*/

.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1em);
}

.grid {
  display: grid;
  gap: var(--gap, 1em);
}

.d-block {
  display: block;
}

/* get utility class to work with components */

.container {
  padding: 0 2em; /* 2 times the size of the font*/
  /* same as padding-inline: 2em */
  max-width: 80rem;
  margin-inline: auto;
}

/* screen reader only */

/* make it hidden but still available in the DOM */
/* screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-main-content {
  transform: translateY(-100%);
  position: absolute;
  z-index: 1000;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  height: auto;
  transition: transform 250ms ease-in;
}

.skip-to-main-content:focus {
  transform: translateY(0);
}

.box {
  background-color: aqua;
  padding: 3rem;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  display: flex;
  gap: 24px;
  font-family: var(--ff-sans-cond);
  letter-spacing: 4.72px;
  text-transform: uppercase;
  font-size: var(--fs-500);
}

.numbered-title span {
  color: hsl(var(--clr-white) / 0.25);
  font-weight: 700;
}

/* .flow > *:not(:last-child) 
  
    pseu-do class has the same specificity with the class selector
  
  
  */

/* lobotomized owl 
    the lobotomized owl does not add extra specificity
  
  .flow > * + * {
    margin-top: 1rem;
    outline: 1px red solid;
  } 
  
  */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  /* outline: 1px red solid; */
}

.flow {
  padding: 1em;
}

/**
   *
   * Components
   *
   */

.large-button {
  font-size: 2rem;
  border-radius: 50%;
  padding: 0 2em;
  display: inline-grid;

  /* short for align-item and justify-item */
  place-items: center;

  /* width / height  */
  aspect-ratio: 1 / 1;

  text-decoration: none;

  /* create a new stacking context*/
  position: relative;
  z-index: 1;
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: hsl(var(--clr-white) / 0.2);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* :hover is pseudo-class, ::after is pseudo-element */

.large-button:hover::after,
.large-button:focus::after {
  animation: pulse 2s infinite;
}

/* use scale or transform instead of width and height to prevent repaint or change content flow of docs, also GPU-accelerated, better for the browser
  
  */

@keyframes pulse {
  0% {
    transform: scale(1.5);
    box-shadow: 0 0 0 0 hsl(inherit / 1);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 0 hsl(inherit / 0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}

/*=============================================
=            Navigation            =
=============================================*/
.mobile-nav-toggle {
  display: none;
}

nav {
  height: fit-content;
}

nav a {
  white-space: nowrap;
}

/* 560px */
/* for side bar */

.primary-navigation a {
  text-decoration: none;
  color: var(--clr-white);
}

.primary-navigation a > span {
  color: hsl(var(--clr-white));
  font-weight: 700;
  margin-right: 0.5em;
}

.primary-navigation {
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 1.5em;
  list-style: none;
  margin: 0;
  padding: 0;
  background: hsl(var(--clr-dark) / 0.95);
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1em) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
}
@media (max-width: 35em) {
  .primary-navigation {
    z-index: 1000;
    padding: min(20rem, 15vh) 2rem;
    inset: 0 0 0 30%;
    position: fixed;
    flex-direction: column;
    --underline-gap: 0.5em;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
  }

  .active {
    /* transition: 0.3s; */
    transform: translateX(0%);
  }

  /* add specificity whenever possible to reduce conflict */
  /* .primary-navigation.underline-indicators > * {
    border: 0;
  } */

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    background-image: url("starter-code/assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    aspect-ratio: 1;
    border: 0;
  }

  .mobile-nav-toggle.expanded {
    background-image: url("starter-code/assets/shared/icon-close.svg");
  }

  /* focus: apply to both mouse and keyboard nav, focus-visible: only mouse */
  .mobile-nav-toggle:focus-visible {
    outline: 3px solid white;
    outline-offset: 5px;
  }
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators .active,
.underline-indicators [aria-selected="true"] {
  color: hsl(var(--clr-white) / 1);
  border-color: hsl(var(--clr-white) / 1);
}

@supports (backdrop-filter: blur(4.8px)) {
  .primary-navigation {
    background: hsl(var(--clr-white) / 0.03);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(4.8px);
  }
}

.logo {
  margin: 1rem clamp(1.5rem, 2vw, 2rem);
}

@media (min-width: 35em) {
  .primary-navigation {
    padding-inline: clamp(3rem, 3vw, 10rem);
  }
}

@media (min-width: 35em) and (max-width: 44.999em) {
  .primary-navigation {
    padding-inline: 3rem;
  }

  .primary-navigation a > span {
    display: none;
  }
}

@media (min-width: 45em) {
  /* White line */

  .primary-header::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    order: 1;
    margin-left: 2rem;
    margin-right: -2.5rem;
    background: hsl(var(--clr-white) / 0.25);
  }

  .primary-navigation {
    margin-block: 2rem;
  }

  nav {
    order: 2;
  }
}

.second-nav {
  --underline-gap: 1em;
  --gap: 2em;
  margin: 0;
  padding: 0;
}

.dot-indicators > * {
  border-radius: 50%;
  aspect-ratio: 1;
  border: 0;
  cursor: pointer;
  padding: 0.5em;
  background-color: hsl(var(--clr-white) / 0.2);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white) / 0.5);
}

.dot-indicators .active,
.dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white) / 1);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  display: grid;
  text-align: center;
  place-items: center; /* short for align-items and justify-items*/
  padding-inline: 1rem;
}

.grid-container * {
  max-width: 50ch;
}

@media (min-width: 45rem) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2em, 1fr) repeat(2, minmax(0, 40rem)) minmax(
        2em,
        1fr
      );
  }

  .grid-container > *:first-child {
    grid-column: 2;
  }

  .grid-container > *:last-child {
    grid-column: 3;
  }

  .grid-container--home {
    padding-bottom: max(
      6rem,
      20vh
    ); /* in case of a very large screen then use 20vh*/
    /* place-content: end; */
    align-items: end;
    /* align-content: end; */
  }
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

/*=====  End of Navigation  ======*/

/*=============================================
=            Page Specific Background         =
=============================================*/

/* Home screen */

.home {
  background-image: url("starter-code/assets/home/background-home-mobile.jpg");
}

@media (min-width: 35rem) {
  .home {
    background-position: center center;
    background-image: url("starter-code/assets/home/background-home-tablet.jpg");
  }
}

@media (min-width: 45rem) {
  .home {
    background-size: cover;
    background-position: bottom center;
    background-image: url("starter-code/assets/home/background-home-desktop.jpg");
  }
}

/* Destination screen */

.destination {
  background-image: url("starter-code/assets/destination/background-destination-mobile.jpg");
}

@media (min-width: 35rem) {
  .destination {
    background-position: center center;
    background-image: url("starter-code/assets/destination/background-destination-tablet.jpg");
  }
}

@media (min-width: 45rem) {
  .destination {
    background-size: cover;
    background-position: bottom center;
    background-image: url("starter-code/assets/destination/background-destination-desktop.jpg");
  }
}

/*=====  End of Page Specific Background  ======*/

/*=============================================
=            Destination Main Content         =
=============================================*/

.destination p {
  /* padding: 2rem 0; */
  line-height: 180%;
}

.distance-travel-container span {
  display: block;
  letter-spacing: 3px;
}

.distance-travel-container {
  border-top: 1px solid hsl(var(--clr-white) / 0.1);
  padding-top: 2rem;
  display: grid;
  gap: (var(--gap), 2rem);
  width: 100%;
  height: 100%;
}

#distance > span,
#travel > span {
  margin-bottom: 0.5rem;
}

.destination .second-nav {
  list-style: none;
  display: flex;
  gap: 2rem;
}

#planet-logo {
  max-width: 90%;
}

@media (max-width: 34.999em) {
  #planet-logo {
    height: 15rem;
  }
  .destination h1.numbered-title {
    font-size: var(--fs-400);
  }

  .distance-travel-container {
    place-items: start center;
  }
}

@media (min-width: 35em) and (max-width: 44.999em) {
  #planet-logo {
    height: 17rem;
  }

  .destination h1.numbered-title {
    place-self: end start;
    font-size: var(--fs-400);
  }

  .distance-travel-container {
    grid-template-columns: 1fr 1fr;
    place-content: start start;
  }

  .destination .grid-container {
    grid-template-rows: minmax(max-content, 5vh) fit-content 10vh repeat(2, 1fr);
  }
}

@media (min-width: 45em) {
  #planet-logo {
    min-width: 20rem;
  }
  .grid-container--destination {
    justify-items: start;
    align-content: start;
    grid-template-rows:
      minmax(8vh, 10vh) max-content repeat(2, min(15vh, 20rem))
      1fr;
    overflow-y: hidden;
  }

  .destination h1.numbered-title {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    align-self: start;
  }

  .destination #planet-logo {
    grid-column: 2 / 3;
    grid-row: 2/6;
    align-self: start;
    justify-self: center;
  }

  .grid-container--destination #planet-name,
  .grid-container--destination nav,
  .distance-travel-container,
  .grid-container--destination #description {
    grid-column: 3/4;
    place-items: start start;
  }

  .grid-container--destination nav {
    grid-row: 2/3;
  }
  .grid-container--destination #planet-name {
    grid-row: 3/4;
    font-size: var(--fs-800);
  }
  .grid-container--destination #description {
    grid-row: 4/5;
    --margin-seperator: 2rem;
    place-self: start start;
  }

  .distance-travel-container {
    grid-row: 5/6;
    grid-template-columns: 1fr 1fr;
    place-content: start start;
    --gap: min(6vw, 6rem);
  }
}

/*=====  End of Destination Main Content  ======*/
